
@{
    ViewBag.Title = "Error";
}
<h2>Error</h2>
<br />
<br />
<br />
<br />
<br />
<h4 class="danger">@ViewBag.Message</h4>
<br />
<br />
<br />
<br />
<br />

@Html.ActionLink("Back to list", "Index", "Setvalues", new { id=ViewBag.id},null)

