@{
    ViewBag.Title = "Nothing to display";
}

<div>
    <br />
    <br />
    <h2 class="text-danger" style="background-color:#BAC3DB">Nothing to display</h2>
    <br />
    <br />
    <div style="background-color:#7A96AD">

        <br />
        <b>&nbsp;&nbsp; The Configuration collection associated with the selected System/s is/are empty.</b>
        <br /><br />
        @*<ul style="color:ghostwhite">
                <li>Name of some of the parameters must have changed</li>
                <li>The function you are looking for is not currently available</li>
            </ul>*@
        <br />
    </div>
    <br />
    <br />
    <div style="background-color:#7A96AD">
        <br />
        <b>&nbsp;&nbsp;Try the following:</b>
        <br />
        <br />

        <ul style="color:ghostwhite">
            <li>Add configurations for the systems selected</li>

        </ul>
        <br />
    </div>
</div>

