@{
    ViewBag.Title = "Error";
}

<div>
    <br />
    <br />
    <h2 class="text-danger" style="background-color:#BAC3DB">An error occured with your search.</h2>
    <br />
    <br />
    <div style="background-color:#7A96AD">

        <br />
        <b>&nbsp;&nbsp; The requested action cannot be completed</b>
        <br /><br />
        @*<ul style="color:ghostwhite">
                <li>Name of some of the parameters must have changed</li>
                <li>The function you are looking for is not currently available</li>
            </ul>*@
        <br />
    </div>
    <br />
    <br />
    <div style="background-color:#7A96AD">
        <br />
        <b>&nbsp;&nbsp;Possible reasons:</b>
        <br />
        <br />

        <ul style="color:ghostwhite">
            <li>The TO date is before the FROM date</li>

        </ul>
        <br />
    </div>
</div>
