<div>
    <br />
    <br />
    <h2 class="text-danger" style="background-color:#BAC3DB">There was an unhandled exception with your request.</h2>
    <h4>Exception : @ViewBag.Error</h4>
    <br />
    <br />
    <div style="background-color:#7A96AD">

        <br />
        <b>&nbsp;&nbsp;  Possible Reasons could be:</b>
        <br /><br />
        <ul style="color:ghostwhite">
            <li>Name of some of the parameters must have changed</li>
            <li>The function you are looking for is not currently available</li>
        </ul>
        <br />
    </div>
    <br />
    <br />
    <div style ="background-color:#7A96AD">
        <br />
        <b>&nbsp;&nbsp;Try the following:</b>
        <br />
        <br />

        <ul style="color:ghostwhite">
            <li>Check the name of the parameters and/variables matches</li>
            <li>Check if you have given a bad input</li>
        </ul>
        <br />
    </div>
</div>
